html {
    font-size: 14px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #B0B0B0;
    margin: 1em 0;
    padding: 0;
}

/* PAGE COLORS
   ================================================== */

html, body {
    color: black;
    transition: background-color 0.2s ease;
    font-family: "Arial";
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #525252;
}

/* NAV
   ================================================== */

body nav {
    background-color: #525252;
    color: white;
}

body .navTop {
    background-color: #525252;
    color: white;
}

body .navTitle {
    color: white;
    font: 2.4rem/0.6 'Oswald', sans-serif;
}

body .navBarContainer {
    background-color: #525252;
    color: white;
}

body .navButton {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: 15px;
    color: white;
}

body .navButton:hover, body .navButton.current {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: 15px;
    background-color: #646464;
}

body .current {
    background-color: #646464;
}

/* GENERAL
   ================================================== */

body .homeContainer {
    background-color: white;
}

body .pynodeContainer {
    background-color: #ECECEC;
}

body .contactContainer {
    background-color: #ECECEC;
}

body .footerText {
    color: #CBCBCB;
}

body .pageInfoWrapper {
    background-color: #525252;
}

/* MAIN TYPE STYLES AND LINKS
   ================================================== */

@font-face {
    font-family: Oswald;
    src: url('Oswald-Regular.ttf');
}

h1 {
    color: black;
    font: 3.2rem/1.1 'Oswald', 'Arial', sans-serif;
    margin: 0;
}

h2 {
    color: black;
    font: 1.8rem/1.1 'Oswald', 'Arial', sans-serif;
    margin: 0;
}

h3 {
    font: 1.4rem/1.1 'Oswald', 'Arial', sans-serif;
    margin: 0;
}

h4 {
    font: 1.2rem/1.1 'Oswald', 'Arial', sans-serif;
    margin: 0;
}

p {
    font: 1.2rem/1.1 Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: 14px;
    color: black;
    margin: 0;
}

a {
    text-decoration: none;
    color: teal;
}

a:hover {
    text-decoration: none;
}

a.anchor {
    display: block;
    position: relative;
    top: -150px;
    visibility: hidden;
}

/* FONT STYLES
   ================================================== */

.pageTextSmall {
    margin: 0;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: 11px;
    color: black;
}

.pageTextGap {
    margin: 0;
    font-size: 5px;
}

.footerText {
    margin: 0;
    font-size: 12px;
}

/* CONTAINERS
   ================================================== */

.homeContainer {
    min-width: 800px;
    min-height: 400px;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: auto;
}

.contactContainer {
    min-width: 900px;
    min-height: 800px;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: auto;
}

.pynodeContainer {
    min-width: 900px;
    min-height: 100%;
    position: relative;
    overflow: hidden;
}

.pynodeOutputContainer {
    min-width: 430px;
    min-height: 360px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.pynodeEditorContainer {
    min-width: 100px;
    min-height: 100px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.pynodeConsoleContainer {
    min-width: 100px;
    min-height: 100px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* NAVIGATION
   ================================================== */

.navWrapper {
    height: 100px;
    position: fixed;
    width: 100%;
    z-index: 7;
}

.navTop {
    width: calc(100% - 30px);
    height: 49px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.navIcon {
    float: left;
}

.navTitle {
    float: left;
    padding-top: 10px;
    padding-left: 0px;
}

.navBarPadding {
    width: 100%;
    height: 42px;
}

.navBarWrapper {
    height: 40px;
    border-top: 1px dotted white;
    border-bottom: 1px solid white;
    padding-left: 50%;
    margin-left: -225px;
}

.navBarContainer {
    width: 100%;
    z-index: 7;
    position: static;
    margin-top: -42px;

}

.navBarInner {
    height: 40px;
    border-top: 1px dotted white;
    border-bottom: 1px solid white;
    padding-left: 50%;
    margin-left: -225px;
    box-shadow: 10px 6px 20px 0px rgba(0, 0, 0, 0.3);
}

.navBar {
    width: 800px;
    min-width: 800px;
}

.login {
    font-size: 0.85rem;
    line-height: 1.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
    float: right;
    text-align: right;
    transition: all 0.2s ease;
    padding-left: 42px;
}

.login:hover {
    color: #3D4544;
}

.navButton {
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 150px;
    float: left;
    border-right: 1px dotted white;
    text-align: center;
    transition: all 0.2s ease;
}

.navButton:first-of-type {
    border-left: 1px dotted white;
}

/* HOME PAGE
   ================================================== */

.homeWrapper {
    width: 100%;
    height: 100%;
}

.introHeader {
    height: calc(35% - 102px);
    position: static;
}

.intro {
}

.introIcon {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20px;
}

.introTitle {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.frontPageHeading {
    font: 7.0rem/1.1 'Oswald', sans-serif;
}

.introSubtitle {
    text-align: center;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

.introHRuleWrapper {
    height: 15px;
    width: 300px;
    padding-left: 50%;
    margin-left: -150px;
}

.introHRule {
    height: 15px;
    border-bottom: 1px black solid;
}

.logo {
    height: 200px;
    padding-top: 30px;
    padding-top: 104px;
    padding-bottom: 47px;
}

/* CONTACT
   ================================================== */

body.contact .pageWholeWrapper {
}

body.contact .pageTopWrapper {
    height: 600px;
}

body.contact .profilePicture {
    width: 120px;
    height: 130px;
    padding-top: 5px;
    float: left;
}

body.contact .profileTitle {
    margin-top: 15px;
    height: 120px;
    font: 5.0rem/1.1 'Oswald', sans-serif;
}

body.contact .contactDescription {
    height: 50px;
}

body.contact h3 {
    padding-bottom: 10px;
}

body.contact ul {
    margin-top: 0px;
    padding-bottom: 5px;
}

/* PYNODE
   ================================================== */

body.pynode .pageWholeWrapper {
    width: 100%;
    padding-bottom: 100px;
}

body.pynode .pageTopWrapper {
    height: 400px;
    position: relative;
}

body.pynode .appWrapper {
    height: 760px;
    background-color: #BBBBBB;
    position: relative;
    padding-bottom: 20px;
    padding-top: 20px;
    box-shadow: inset 0 16px 20px -20px rgba(0, 0, 0, 0.75), inset 0 -16px 20px -20px rgba(0, 0, 0, 0.5);
}

body.pynode .appContainer {
    height: 100%;
    width: 100%;
    visibility: hidden;
    max-width: 1500px;
}

body.pynode .appLeft {
    width: calc(100% - 560px);
    padding-left: 20px;
    float: left;
    height: 100%;
}

body.pynode .editorWrapper, body.pynode_editor .editorWrapper {
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
    border-bottom: 10px solid #525252;
    box-sizing: border-box;
}

body.pynode #editorBox {
    width: 100%;
    height: 100%;
    visibility: hidden;
}

body.pynode_editor #editorBox {
    width: 100%;
    height: calc(100% - 40px);
}

body.pynode .editorButtonBar, body.pynode_output .editorButtonBar {
    width: 100%;
    height: 35px;
    background-color: #F0F0F0;
    padding-top: 5px;
    padding-left: 0px;
}

body.pynode .editorButton, body.pynode_output .editorButton {
    width: 100px;
    height: 23px;
    background-color: #ACACAC;
    padding-top: 7px;
    padding-left: 5px;
    color: white;
    margin-left: 5px;
    float: left;
}

body.pynode .editorButtonIcon, body.pynode_output .editorButtonIcon {
    float: left;
    padding-right: 5px;
    margin-top: -1px;
}

body.pynode .buttonBarLayoutPanel, body.pynode_output .buttonBarLayoutPanel {
    float: right;
    padding-top: 2px;
    padding-left: 20px;
    width: 80px;
}

body.pynode .layoutButtonOn, body.pynode_output .layoutButtonOn {
    width: 22px;
    height: 22px;
    padding-top: 2px;
    padding-left: 2px;
    float: left;
    margin-right: 8px;
    background-color: #E0E0E0;
    box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
}

body.pynode .layoutButtonOff, body.pynode_output .layoutButtonOff {
    width: 22px;
    height: 22px;
    padding-top: 2px;
    padding-left: 2px;
    float: left;
    margin-right: 8px;
    cursor: pointer;
}

body.pynode #runPlay, body.pynode_output #runPlay {
    display: inherit;
}

body.pynode #runPlayLoad, body.pynode_output #runPlayLoad {
    display: none;
}

body.pynode #runPause, body.pynode_output #runPause {
    display: none;
}

body.pynode #runResume, body.pynode_output #runResume {
    display: none;
}

body.pynode .editorHeader {
    height: 20px;
    width: 100%;
    background-color: #F0F0F0;
}

body.pynode #editor {
    position: absolute;
    width: 100px;
    height: 710px;
}

body.pynode_editor #editor {
    position: absolute;
    width: 100%;
    height: calc(100% - 50px);
}

body.pynode .appRight {
    width: 500px;
    float: right;
    padding-right: 20px;
    height: 100%;
}

body.pynode .outputWrapper {
    width: 500px;
    height: 490px;
    background-color: white;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
    border-bottom: 10px solid #525252;
    box-sizing: border-box;
}

body.pynode_output .outputWrapper {
    width: 100%;
    height: 100%;
    background-color: white;
    border-bottom: 10px solid #525252;
    box-sizing: border-box;
}

body.pynode_output .outputPageWrapper {
    width: 100%;
    height: 100%;
    background-color: #BBBBBB;
}

body.pynode_editor .editorPageWrapper {
    width: 100%;
    height: 100%;
    background-color: #BBBBBB;
}

body.pynode_console .consolePageWrapper {
    width: 100%;
    height: 100%;
    background-color: #BBBBBB;
}

body.pynode #outputBox {
    width: 500px;
    height: 400px;
    background-color: white;
}

body.pynode_output #outputBox {
    width: 100%;
    height: calc(100% - 80px);
    background-color: white;
}

body.pynode #output {
    width: 500px;
    height: 400px;
    display: block;
}

body.pynode_output .outputClass {
    width: 100%;
    height: 100%;
    display: block;
}

body.pynode .consoleWrapper {
    width: 500px;
    height: 250px;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
    border-bottom: 10px solid #525252;
    box-sizing: border-box;
}

body.pynode_console .consoleWrapper {
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
    border-bottom: 10px solid #525252;
    box-sizing: border-box;
}

body.pynode .consoleBox, body.pynode_console .consoleBox {
    background-color: #F0F0F0;
    width: calc(100% - 25px);
    height: calc(100% - 62px);
    padding-top: 10px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 15px;
}

body.pynode #console, body.pynode_console #console {
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid #B1B1B1;
    padding-left: 2px;
    font-family: monospace;
    overflow-y: auto;
}

body.pynode .appSectionTitle, body.pynode_output .appSectionTitle, body.pynode_editor .appSectionTitle, body.pynode_console .appSectionTitle {
    color: white;
    background-color: #525252;
    padding-left: 10px;
    width: calc(100% - 10px);
    height: 30px;
    padding-top: 10px;
}

body.pynode .appSectionEnlarge, body.pynode_output .appSectionEnlarge {
    float: right;
    padding-right: 10px;
}

body.pynode .appSectionBarIcon, body.pynode_editor .appSectionBarIcon {
    width: 30px;
    height: 20px;
    margin-bottom: 2px;
    float: right;
}

body.pynode .appSectionBarIconFirst, body.pynode_editor .appSectionBarIconFirst {
    width: 20px;
    height: 20px;
    float: right;
    padding-left: 12px;
}

body.pynode .appSectionBarIconDivider, body.pynode_editor .appSectionBarIconDivider {
    width: 0px;
    height: 28px;
    margin-top: -4px;
    float: right;
    border-right: 1px solid #2E2E2E;
    border-left: 1px solid #6A6A6A;

}

body.pynode .pageBottomWrapper {
    height: 400px;
    height: auto;
    position: relative;
}

body.pynode .pynodeLogo {
    width: 135px;
    height: 130px;
    padding-top: 5px;
    float: left;
}

body.pynode .pynodeTitle {
    height: 105px;
    font: 6.0rem/1.1 'Oswald', sans-serif;
}

body.pynode .pynodeSubtitle {
    height: 50px;
}

body.pynode .pynodeDescription {
    height: 50px;
}

body.pynode .pynodeDownloadBox {
    float: left;
    width: 100%;
    height: 50px;
    padding-bottom: 10px;
}
body.pynode .pynodeDownloadBoxLinux {
    float: left;
    width: 100%;
    height: 70px;
    padding-bottom: 5px;
}

body.pynode .pynodeDownloadBoxIcon {
    float: left;
    height: 50px;
    width: 60px;
}
body.pynode .pynodeDownloadBoxIconLinux {
    float: left;
    height: 50px;
    margin-left: -12px;
    width: 72px;
}

body.pynode .pynodeDownloadBoxTextWin {
    float: left;
    padding-top: 3px;
    height: 50px;
}
body.pynode .pynodeDownloadBoxTextMac {
    float: left;
    padding-top: 16px;
    height: 50px;
}
body.pynode .pynodeDownloadBoxTextLinux {
    float: left;
    padding-top: 24px;
    height: 50px;
}

body.pynode code {
    font-family: monospace;
    font: 1.0rem/1.5 monospace;
    border: 1px solid #B1B1B1;
    background-color: #F0F0F0;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 1px;
}

body.pynode .codeInline {
    border: none;
}

body.pynode li {
    margin: 5px 0px;
}

/* GENERAL
   ================================================== */
.pageTop {
    width: 750px;
    height: calc(100% - 70px);
    margin-top: 50px;
    margin-left: calc(50% - 425px);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.15);
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 40px;
}

.pageWhole {
    width: 750px;
    margin-left: calc(50% - 425px);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.15);
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 30px;
}

body .floatLeft {
    float: left;
}

body .floatRight {
    float: right;
}

/* FOOTER
   ================================================== */

.pageInfoWrapper {
    width: 100%;
    height: 12px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    bottom: 0;
}

.pageInfoWrapperHome {
    width: 100%;
    height: 10px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}